<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being a web developer, I enjoy most of my time playing soccer. In the winter, I play alot of video games if I have free time too, I also spend a lot of time with my friends.</p>
        <p class="mb-0">When forced indoors, I dont watch movies but would rather play some board games, or work on one of my web or app developing projects.</p>
      </div>
    </section>